.features-section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.features-header {
  text-align: center;
  margin-bottom: 50px;
}

.features-header h2 {
  font-size: 36px;
  color: #0d0d44;
  margin-bottom: 15px;
}

.features-header p {
  font-size: 16px;
  color: #555;
  max-width: 700px;
  margin: 0 auto 20px;
}

.get-started-btn {
  padding: 12px 25px;
  background-color: #253d6f;
  color: white !important;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
   text-decoration: none;        /* FIX: remove underline */
  display: inline-block;        /* FIX: padding works correctly */
}

.get-started-btn:hover {
  background-color: #253d6f;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.feature-card {
  background: #f9f9ff;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
   border: 0.1px #c3d1f5 solid;
}

.feature-card:hover {
  transform: translateY(-5px);
   border: 0.1px #0d0d44 solid;
}

.feature-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 20px;
  color: #0d0d44;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 14px;
  color: #555;
}
